<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="{$basePath}/css/main.css">
	<title>{ifset title}{include title|stripHtml} | {/ifset}DIARY</title>
	<link rel="stylesheet" href="{$basePath}/css/main.css">
	{ifset head} {include head} {/ifset}
	<!-- PRELOAD IMGS 
	This makes responsive hovers
	-->
	<link rel="preload" as="image" type="image/svg+xml" href="{$basePath}/img/svg/admin-invert.svg">
	<link rel="preload" as="image" type="image/svg+xml" href="{$basePath}/img/svg/logout-invert.svg">
	<link rel="preload" as="image" type="image/svg+xml" href="{$basePath}/img/svg/plus-gray.svg">
	<link rel="preload" as="image" type="image/svg+xml" href="{$basePath}/img/svg/db-backup-invert.svg">
</head>

<body>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

	{include content}

	{block scripts}
	<script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
	<!--<script src="https://unpkg.com/naja@2/dist/Naja.min.js"></script>-->
	<script src="{$basePath}/js/Naja.js"></script>
	{/block}
</body>
</html>
