@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 1em sans-serif;
    font-family: Roboto;
}
button#createNote {
    position: fixed;
    bottom: 2.3vw;
    right: 2.3vw;
    /* margin-right: 2.3vw;
    margin-bottom: 2.3vw; */
    background-image: url(../img/svg/plus-orange.svg);
    background-size: 3.3vw;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #FFF;
    border: 0.2vw solid #ef8a17;
    width: 5.5vw;
    height: 5.5vw;
    border-radius: 50%;
    transition: 300ms;
}
button#createNote:hover {
    position: fixed;
    bottom: 2.3vw;
    right: 2.3vw;
    /* margin-right: 2.3vw;
    margin-bottom: 2.3vw; */
    background-image: url(../img/svg/plus-white.svg);
    background-size: 3.3vw;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #ef8a17;
    border: 0.2vw solid #fff;
    width: 5.5vw;
    height: 5.5vw;
    border-radius: 50%;
    transition: 300ms;
}