@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 1em sans-serif;
    font-family: Roboto;
}
/* #region HEADER*/
body > #header {
    background-color: #ef8a17;
    width: 100%;
    height: 8vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header > .title {
    background-color: #fff;
    color: #000;
    height: calc(100% - 2vw);
    border: 0 solid transparent;
    font-size: 2em;
    transition: 300ms;
    padding-right: 1vw;
    padding-left: 1vw;
}
#header > #notesTitle {
    border-top-right-radius: 1vw;
    border-bottom-right-radius: 1vw;
}
#header > #statsTitle {
    border-top-left-radius: 1vw;
    border-bottom-left-radius: 1vw;
}

#header > .title > span {
    color: #ef8a17;
}
#header > .title.selected > span {
    color: #fff;
}
#header > .title.selected {
    background-color: #ef8a17;
    border: 0 solid transparent;
    border-top-right-radius: 1vw;
    border-bottom-right-radius: 1vw;
}

#header > .title:hover > span {
    color: #fff;
}
#header > .title:hover {
    background-color: #ef8a17;
    transition: 300ms;
}
/* #endregion */

/* #region NOTES*/
body > #main {
    height: calc(100vh + 4vw);
}
button#createNote {
    position: fixed;
    bottom: 2.3vw;
    right: 2.3vw;
    /* margin-right: 2.3vw;
    margin-bottom: 2.3vw; */
    background-image: url(../img/svg/plus-orange.svg);
    background-size: 3.3vw;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #FFF;
    border: 0.2vw solid #ef8a17;
    width: 5.5vw;
    height: 5.5vw;
    border-radius: 50%;
    transition: 300ms;
}
button#createNote:hover {
    position: fixed;
    bottom: 2.3vw;
    right: 2.3vw;
    /* margin-right: 2.3vw;
    margin-bottom: 2.3vw; */
    background-image: url(../img/svg/plus-white.svg);
    background-size: 3.3vw;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #ef8a17;
    border: 0.2vw solid #fff;
    width: 5.5vw;
    height: 5.5vw;
    border-radius: 50%;
    transition: 300ms;
}

/* #endregion */

/* #region STATS */

div#stats {
    float: none;
    font-size: 4vw;
    text-align: center;
    background-color: #FFF;
    color: #000;
}
div#stats > span > .icon {
    vertical-align: middle;
}
div#stats > div > span > #platform {
    font-size: 0.7em;
    font-weight: bold;
}
div#stats > div {
    margin: 4vh;
}
#lines {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "countText todayAdd"
      "countText todayRemove"; 
}
#countText {
    grid-area: countText;
    text-align: center;
    transform: translateY(25%);
}
#todayAdd {
    grid-area: todayAdd;
    color: #00ff00;
}
#todayRemove {
    grid-area: todayRemove;
    color: #ff1414;
}
#coderOD  {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 0.4fr 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "titleCOD titleCOD"
      "dneImg dneJmeno"
      "dneImg dnePlus"
      "dneImg dneMinus"; 
}
#titleCOD { grid-area: titleCOD;}
#dneImg {
    grid-area: dneImg;
    width: 100%;
    height: 100%;
}
#dneJmeno { grid-area: dneJmeno; }
#dnePlus { grid-area: dnePlus;
    margin: auto;
    color: #00ff00; }
#dneMinus { grid-area: dneMinus;
    margin: auto;
    color: #ff1414; }
/* #endregion */