.container {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 2.4fr 0.3fr 0.3fr; 
    grid-template-rows: 0.4fr 2.3fr 0.3fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        "title title remove"
        "text text text"
        "autor undoChanges saveChanges"; 
    background-color: #e6e66b;
    width: 25vw;
    height: 25vw;
    margin: 1vw;
    float: left;
}
.title {
    grid-area: title;
    font-size: 1.8vw;
    font-weight: bold;
    text-align: center;
    padding-top: 0.5vw;
}
.remove {
    grid-area: remove;
    font-size: 1.5vw;
    font-weight: bold;
    text-align: center;
    padding-top: 0.5vw;
}
.remove > button {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: #e6e66b;
    font-size: 1.6vw;
    font-weight: bold;
}
.text {
    grid-area: text; 
    font-size: 2.1vw;
    text-align: justify;
    padding: 0.5vw; }
.autor {
    grid-area: autor;
    font-size: 1.6vw;
    text-align: left;
    padding: 0.5vw;
    prefix: 'rest';
}
.undoChanges { 
    grid-area: undoChanges;
    align-self: center;
}
.saveChanges {
    grid-area: saveChanges;
    align-self: center;
}
.saveChanges > button, .undoChanges > button {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: #e6e66b;
    font-size: 1.6vw;
    font-weight: bold;
}
.noteText {
    width: 100%;
    height: 100%;
    border: none;
    resize: none;
    outline: none;
    background-color: #e6e66b;
}
.noteAutor {
    width: 100%;
    height: 0.3fr;
    float: left;
    border: none;
    resize: none;
    outline: none;
    background-color: #e6e66b;
}
.noteTitle {
    height: 0.1fr;
    float: left;
    border: none;
    resize: none;
    outline: none;
    background-color: #e6e66b;
    text-align: center;
}
.noteText {
    width: 100%;
    height: 100%;
    border: none;
    resize: none;
    outline: none;
    background-color: #e6e66b;
}
.noteAutor {
    width: 100%;
    height: 100%;
    float: left;
    border: none;
    resize: none;
    outline: none;
    background-color: #e6e66b;
}
.autor {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 0.05fr 1fr; 
    grid-template-rows: 1fr;
    grid-template-areas:  
        "part1 part2";
    width: 100%;
    height: 100%;
    float: left;
    border: none;
    resize: none;
    outline: none;
    background-color: #e6e66b;
        
}
.part1 { grid-area: part1; }
.part2 {
    grid-area: part2;
    width: 100%;
    height: 100%;
    float: left;
    border: none;
    resize: none;
    outline: none;
    background-color: #e6e66b;
    max-height: 100%;
}

#alert {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.undoChanges, .saveChanges {
    display: none;
}